* {
  box-sizing: border-box;
}

.homeFree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 26px;
  width: 393px;
  height: 852px;
  overflow-y: auto;

  .frame24 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -1px;
    margin-left: -1px;
    background: #ffffff;
    padding-right: 13px;
    height: 62px;
    overflow: hidden;

    .pItchprojetoandreza1 {
      width: 105px;
      height: 59px;
    }

    .group336 {
      position: relative;
      margin-top: 8px;
      margin-left: 174px;
      width: 103px;
      height: 71px;

      .group334 {
        display: flex;
        position: absolute;
        top: 6px;
        left: 0;
        align-items: flex-start;
        padding-right: 69px;
        padding-bottom: 35px;
        width: 103px;
        height: 65px;

        .image28 {
          width: 34px;
          height: 30px;
        }
      }

      .image29 {
        position: absolute;
        top: 0;
        left: 61px;
        width: 42px;
        height: 43px;
      }
    }
  }

  .bEmvindojoo {
    margin: 0px 0px 0px 104px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .rectangle75 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 34px 15px 0px 14px;
    border-radius: 15px;
    background: #d9d9d9;
    padding: 10px 12px 11px 6px;
    min-width: 364px;

    .image23 {
      width: 32px;
      height: 34px;
    }

    .seuCarroEstCom8200Km {
      display: flex;
      align-items: center;
      margin: 2px 0px 0px;
      width: 302px;
      height: 33px;
      line-height: 13px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .barraDeNavegaO {
    display: flex;
    align-items: center;
    margin-top: 582px;
    background: #2c2c2c;
    padding-right: 20px;
    padding-left: 20px;
    width: 393px;

    .home4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 18px;
      line-height: 13px;
      letter-spacing: 0;
      color: #d9d9d9;
      font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 9px;
      font-weight: 800;
    }

    .home {
      flex-shrink: 0;
      width: 47px;
      height: 48px;
      overflow: hidden;
    }

    .home3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Light-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      height: 76px;
      row-gap: 5px;

      .home2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 18px;
        line-height: 13px;
        letter-spacing: 0;
        color: #ffcf00bf;
        font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 800;
      }
    }

    .home5 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .home6 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;

      .iconPeAs {
        position: relative;
        flex-shrink: 0;
        width: 47px;
        height: 48px;

        .peAs {
          display: flex;
          position: absolute;
          top: 22px;
          left: 0;
          align-items: center;
          justify-content: center;
          width: 47px;
          height: 26px;
          line-height: 13px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }

        .settings {
          position: absolute;
          top: 26px;
          left: 24px;
          width: 18px;
          height: 17px;
          overflow: hidden;
        }

        .group351 {
          position: absolute;
          top: 10px;
          left: 5px;
          width: 38px;
          height: 35px;
        }
      }
    }
  }

  .frame56 {
    margin-top: 129px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 0px #00000040;
    width: 362px;
    height: 43px;
    overflow: hidden;
  }
}
