* {
  box-sizing: border-box;
}

.cadastroUsuRio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 26px;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .pItchprojetoandreza1 {
    width: 430px;
    height: 242px;
  }

  .frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 12px 37px 0px;
    border: 1px solid #00000033;
    border-radius: 15px;
    padding: 18px 24px 48px 21px;
    overflow: hidden;

    .nomeCompleto {
      margin: 0px 0px 0px 11px;
      width: 199px;
      height: 23px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .caixaEmail {
      margin-top: 7px;
      margin-left: 4px;
      border: 1px solid #00000033;
      border-radius: 8px;
      width: 269px;
      height: 39px;
      overflow: hidden;
    }

    .email {
      margin: 25px 0px 0px 11px;
      width: 110px;
      height: 23px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .repitaSuaSenha {
      margin: 24px 0px 0px 11px;
      width: 145px;
      height: 23px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .button2 {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      margin-top: 36px;
      border: 1px solid var(--sds-color-border-brand-default);
      border-radius: 8px;
      background: var(--sds-color-background-brand-default);
      padding: 11px;
      width: 272px;
      overflow: hidden;

      .button {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: var(--sds-color-text-brand-on-brand);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .title {
      margin: 5px 0px 0px 60px;
      padding: 2px 8px;
      width: 157px;
      height: 13px;
      text-align: center;
      line-height: 10px;
      letter-spacing: 0;
      color: #1e1e1e;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
