* {
  box-sizing: border-box;
}

.checklist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 83px;
  width: 393px;
  height: 852px;
  overflow-y: auto;

  .rectangle832 {
    margin-top: 31px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #ffffff;
    width: 26px;
    height: 26px;
  }

  .cHecklist {
    margin: 0px 0px 0px 110px;
    width: 173px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .essasSoAsPeAsQuePrec {
    margin: 0px 0px 0px 23px;
    width: 336px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .rectangle45 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 21px 11px 0px 12px;
    border-radius: 11px;
    background: #d9d9d9;
    padding: 13px 9px 17px 11px;
    min-width: 370px;

    .rectangle83 {
      margin-top: 21px;
      border: 1px solid #000000;
      border-radius: 8px;
      background: #ffffff;
      width: 26px;
      height: 26px;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .correiaDentada {
        margin: 0px 0px 0px 1px;
        width: 104px;
        height: 22px;
        text-align: justify;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .coordenaOMovimentoDo {
        margin: 7px 0px 0px;
        width: 234px;
        height: 23px;
        text-align: justify;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }

    .pngTransparentVolvoS {
      margin-top: 4px;
      width: 64px;
      height: 61px;
    }
  }

  .rectangle452 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 27px 11px 0px 12px;
    border-radius: 11px;
    background: #d9d9d9;
    padding: 3px 7px 1px 11px;

    .autoWrapper2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 16px;
      margin-left: 11px;

      .group183 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-right: 104px;
        margin-left: 2px;
        padding: 1px 1px 1px 0px;

        .velaDeIgniO {
          width: 97px;
          height: 20px;
          text-align: justify;
          line-height: 20px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .responsVeisPorGerarA {
        display: flex;
        align-items: center;
        margin: 5px 0px 0px;
        width: 203px;
        height: 36px;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }

    .images1 {
      margin-left: 20px;
      width: 92px;
      height: 92px;
    }
  }

  .rectangle453 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 35px 11px 0px 12px;
    border-radius: 11px;
    background: #d9d9d9;
    padding: 3px 4px 5px 11px;

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 12px;
      margin-left: 11px;

      .filtroDeAr {
        width: 72px;
        height: 20px;
        text-align: justify;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .impedeQueSujeirasEPo {
        margin: 4px 0px 0px;
        width: 226px;
        height: 24px;
        text-align: justify;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }

    .images11 {
      margin-left: 5px;
      width: 87px;
      height: 87px;
    }
  }

  .rectangle454 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 33px 11px 0px 12px;
    border-radius: 11px;
    background: #d9d9d9;
    padding: 2px 2px 9px 11px;
    min-width: 370px;

    .rectangle833 {
      margin-top: 32px;
      border: 1px solid #000000;
      border-radius: 8px;
      background: #ffffff;
      width: 26px;
      height: 26px;
    }

    .autoWrapper4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 15px;

      .fluidoDeArrefeciment {
        width: 216px;
        height: 20px;
        text-align: justify;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .mantMaTemperaturaIde {
        margin: 5px 0px 0px;
        width: 222px;
        height: 30px;
        text-align: justify;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }

    .a128573961 {
      width: 84px;
      height: 84px;
    }
  }

  .rectangle455 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 29px 11px 0px 12px;
    border-radius: 11px;
    background: #d9d9d9;
    padding: 15px 188px 35px 11px;
    min-width: 370px;

    .rectangle834 {
      margin-top: 19px;
      border: 1px solid #000000;
      border-radius: 8px;
      background: #ffffff;
      width: 26px;
      height: 26px;
    }

    .filtroDeCombustVel {
      width: 134px;
      height: 19px;
      text-align: justify;
      line-height: 20px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .barraDeNavegaO {
    display: flex;
    align-items: center;
    margin-top: 27px;
    background: #2c2c2c;
    padding-right: 20px;
    padding-left: 20px;
    width: 393px;

    .home2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 18px;
      line-height: 13px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 9px;
      font-weight: 800;
    }

    .home {
      flex-shrink: 0;
      width: 47px;
      height: 48px;
      overflow: hidden;
    }

    .home3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .home4 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;

      .iconPeAs {
        position: relative;
        flex-shrink: 0;
        width: 47px;
        height: 48px;

        .peAs {
          display: flex;
          position: absolute;
          top: 22px;
          left: 0;
          align-items: center;
          justify-content: center;
          width: 47px;
          height: 26px;
          line-height: 13px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }

        .settings {
          position: absolute;
          top: 26px;
          left: 24px;
          width: 18px;
          height: 17px;
          overflow: hidden;
        }

        .group351 {
          position: absolute;
          top: 10px;
          left: 5px;
          width: 38px;
          height: 35px;
        }
      }
    }

    .home6 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Light-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      height: 76px;
      row-gap: 5px;

      .home5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 18px;
        line-height: 13px;
        letter-spacing: 0;
        color: #ffcf00bf;
        font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 800;
      }
    }
  }

  .autoWrapper5 {
    position: absolute;
    top: 26px;
    left: -1px;
    width: 395px;
    height: 710px;

    .pngtreeFilterForCarP {
      position: absolute;
      top: 641px;
      left: 287px;
      width: 103px;
      height: 69px;
    }

    .removeImpurezasDoCom {
      position: absolute;
      top: 667px;
      left: 60px;
      width: 232px;
      height: 23px;
      text-align: justify;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .frame24 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      background: #ffffff;
      padding-right: 13px;
      width: 395px;
      height: 62px;
      overflow: hidden;

      .pItchprojetoandreza1 {
        width: 105px;
        height: 59px;
      }

      .group336 {
        position: relative;
        margin-top: 8px;
        margin-left: 174px;
        width: 103px;
        height: 71px;

        .group334 {
          display: flex;
          position: absolute;
          top: 6px;
          left: 0;
          align-items: flex-start;
          padding-right: 69px;
          padding-bottom: 35px;
          width: 103px;
          height: 65px;

          .image28 {
            width: 34px;
            height: 30px;
          }
        }

        .image29 {
          position: absolute;
          top: 0;
          left: 61px;
          width: 42px;
          height: 43px;
        }
      }
    }

    .image66 {
      position: absolute;
      top: 635px;
      left: 337px;
      border-radius: 50px;
      width: 49px;
      height: 51px;
    }
  }
}
