* {
  box-sizing: border-box;
}

.catLogoDePeAs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 26px;
  width: 393px;
  height: 852px;
  overflow-y: auto;

  .frame24 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -1px;
    margin-left: -1px;
    background: #ffffff;
    padding-right: 13px;
    height: 62px;
    overflow: hidden;

    .pItchprojetoandreza1 {
      width: 105px;
      height: 59px;
    }

    .group336 {
      position: relative;
      margin-top: 8px;
      margin-left: 174px;
      width: 103px;
      height: 71px;

      .group334 {
        display: flex;
        position: absolute;
        top: 6px;
        left: 0;
        align-items: flex-start;
        padding-right: 69px;
        padding-bottom: 35px;
        width: 103px;
        height: 65px;

        .image28 {
          width: 34px;
          height: 30px;
        }
      }

      .image29 {
        position: absolute;
        top: 0;
        left: 61px;
        width: 42px;
        height: 43px;
      }
    }
  }

  .cAtlogodepeas {
    margin: 5px 0px 0px 86px;
    width: 222px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .frame304 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 18px 17px 0px 18px;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 4px 7px 4px 326px;
    overflow: hidden;

    .image26 {
      width: 23px;
      height: 24px;
    }
  }

  .frame55 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 8px;
    width: 387px;
    height: 39px;
    overflow-x: auto;

    .group302 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      margin-right: -628px;
      width: 1015px;
      min-width: 1015px;
      height: 39px;

      .rectangle81 {
        display: flex;
        align-items: flex-start;
        border-radius: 7px;
        background: #2c2c2c;
        padding: 8px 6px 6px;

        .motorESistemaDeAlime {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 122px;
          height: 24px;
          line-height: 12px;
          letter-spacing: 0;
          color: #fbfbfb;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .rectangle812 {
        display: flex;
        align-items: flex-start;
        border-radius: 7px;
        background: #2c2c2c;
        padding: 8px 6px 6px;

        .transmissOeEmbreagem {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 122px;
          height: 24px;
          line-height: 12px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }
  }

  .autoWrapper8 {
    position: relative;
    margin-top: 38px;
    margin-left: 12px;
    width: 369px;
    height: 980px;

    .frame303 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      width: 369px;
      height: 980px;
      overflow: hidden;
      row-gap: 18px;

      .frame29 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 15px;
        background: #ffffff;
        height: 117px;

        .rectangle42 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-right: -1431px;
          margin-left: -4px;
          border-radius: 11px;
          background: #d9d9d9;
          padding: 6px 1441px 619px 18px;
          width: 1804px;
          min-width: 1804px;

          .autoWrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 19px;

            .correiaDentada {
              width: 104px;
              height: 22px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .coordenaOMovimentoDo {
              margin: 1px 0px 0px;
              width: 250px;
              height: 23px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .pngTransparentVolvoS {
            width: 87px;
            height: 83px;
          }
        }
      }

      .frame30 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9px;
        background: #ffffff;
        padding-right: 3px;
        padding-bottom: 22px;

        .rectangle45 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-left: -4px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 2px 4px 1px 14px;
          width: 370px;
          min-width: 370px;

          .autoWrapper2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 19px;

            .group183 {
              display: flex;
              align-items: center;
              align-self: stretch;
              margin-right: 150px;
              margin-left: 1px;
              padding: 1px 1px 1px 0px;

              .velaDeIgniO {
                width: 97px;
                height: 20px;
                text-align: justify;
                line-height: 20px;
                letter-spacing: 0;
                color: #000000;
                font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }

            .responsVeisPorGerarA {
              display: flex;
              align-items: center;
              margin: 6px 0px 0px;
              width: 247px;
              height: 36px;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .images1 {
            border-radius: 15px;
            width: 92px;
            height: 92px;
          }
        }
      }

      .frame31 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9px;
        background: #ffffff;
        padding-bottom: 20px;

        .rectangle43 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-right: -1px;
          margin-left: -2px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 1px 1px 1px 18px;
          width: 372px;
          min-width: 372px;

          .autoWrapper3 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 27px;

            .filtroDeAr {
              width: 72px;
              height: 20px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .impedeQueSujeirasEPo {
              margin: 2px 0px 0px;
              width: 251px;
              height: 24px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .images11 {
            border-radius: 15px;
            width: 95px;
            height: 95px;
          }
        }
      }

      .frame32 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9px;
        background: #ffffff;
        padding-right: 1px;
        padding-bottom: 22px;

        .rectangle41 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-left: -2px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 2px 2px 2px 14px;
          width: 370px;
          min-width: 370px;

          .autoWrapper4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 20px;

            .fluidoDeArrefeciment {
              width: 216px;
              height: 20px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .mantMaTemperaturaIde {
              margin: 5px 0px 0px;
              width: 250px;
              height: 30px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .a128573961 {
            border-radius: 15px;
            width: 91px;
            height: 91px;
          }
        }
      }

      .frame28 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9px;
        background: #ffffff;
        padding-bottom: 22px;

        .rectangle44 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          margin-right: -1px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 17px 6px 16px 17px;
          width: 370px;
          min-width: 370px;
          height: 95px;

          .autoWrapper5 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .filtroDeCombustVel {
              width: 134px;
              height: 19px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .removeImpurezasDoCom {
              margin: 6px 0px 0px;
              width: 250px;
              height: 23px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .pngtreeFilterForCarP {
            border-radius: 15px;
            width: 83px;
            height: 62px;
          }
        }
      }

      .frame33 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9px;
        background: #ffffff;
        padding-bottom: 22px;
        height: 117px;

        .rectangle46 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: -1px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 16px 5px 14px 14px;
          width: 369px;
          min-width: 369px;

          .autoWrapper6 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .caixaDeCMbio {
              width: 129px;
              height: 19px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .aCaixaDeCMbioTambMCh {
              margin: 7px 0px 0px 1px;
              width: 231px;
              height: 34px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .caixadecambio1 {
            margin-top: 4px;
            border-radius: 15px;
            width: 97px;
            height: 61px;
          }
        }
      }

      .frame34 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 11px;
        background: #ffffff;
        padding-bottom: 99px;
        overflow: hidden;

        .rectangle442 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          margin-right: -1px;
          border-radius: 15px;
          background: #d9d9d9;
          padding: 13px 7px 10px 13px;
          width: 370px;
          min-width: 370px;

          .autoWrapper7 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .pistO {
              width: 138px;
              height: 19px;
              text-align: justify;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .umPistOUmaPeACilNdri {
              margin: 6px 0px 0px;
              width: 239px;
              height: 46px;
              text-align: justify;
              line-height: 10px;
              letter-spacing: 0;
              color: #000000;
              font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }

          .image1 {
            border-radius: 15px;
            width: 96px;
            height: 72px;
          }
        }
      }
    }

    .image66 {
      position: absolute;
      top: 391px;
      right: -4px;
      border-radius: 50px;
      width: 49px;
      height: 51px;
    }

    .barraDeNavegaO {
      display: flex;
      position: absolute;
      top: 507px;
      right: -12px;
      align-items: center;
      background: #2c2c2c;
      padding-right: 20px;
      padding-left: 20px;
      width: 393px;
      height: 76px;

      .home3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        box-shadow: var(
          --M3-Elevation-Dark-5,
          0px 8px 12px 6px #00000026,
          0px 4px 4px 0px #0000004d
        );
        padding-top: 5px;
        padding-bottom: 5px;

        .home {
          flex-shrink: 0;
          width: 47px;
          height: 48px;
          overflow: hidden;
        }

        .home2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 53px;
          height: 18px;
          line-height: 13px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }
      }

      .home5 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        box-shadow: var(
          --M3-Elevation-Light-5,
          0px 8px 12px 6px #00000026,
          0px 4px 4px 0px #0000004d
        );
        height: 76px;
        row-gap: 5px;

        .iconPeAs {
          position: relative;
          flex-shrink: 0;
          width: 47px;
          height: 48px;

          .peAs {
            display: flex;
            position: absolute;
            top: 22px;
            left: 0;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 26px;
            line-height: 13px;
            letter-spacing: 0;
            color: #000000;
            font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 9px;
            font-weight: 800;
          }

          .settings {
            position: absolute;
            top: 26px;
            left: 24px;
            width: 18px;
            height: 17px;
            overflow: hidden;
          }

          .group351 {
            position: absolute;
            top: 10px;
            left: 5px;
            width: 38px;
            height: 35px;
          }
        }

        .home4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 53px;
          height: 18px;
          line-height: 13px;
          letter-spacing: 0;
          color: #ffcf00bf;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }
      }
    }
  }
}
