* {
  box-sizing: border-box;
}

.oBd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding-top: 26px;
  width: 393px;
  height: 852px;
  overflow-y: auto;

  .vector {
    position: absolute;
    top: 171px;
    left: 367px;
    width: 8px;
    height: 7px;
  }

  .autoWrapper6 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .frame24 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding-right: 11px;
      height: 62px;
      overflow: hidden;

      .pItchprojetoandreza1 {
        width: 105px;
        height: 59px;
      }

      .group336 {
        position: relative;
        margin-top: 8px;
        margin-left: 174px;
        width: 103px;
        height: 71px;

        .group334 {
          display: flex;
          position: absolute;
          top: 6px;
          left: 0;
          align-items: flex-start;
          padding-right: 69px;
          padding-bottom: 35px;
          width: 103px;
          height: 65px;

          .image28 {
            width: 34px;
            height: 30px;
          }
        }

        .image29 {
          position: absolute;
          top: 0;
          left: 61px;
          width: 42px;
          height: 43px;
        }
      }
    }

    .oBddiagnsticodebordo {
      margin: 23px 0px 0px;
      line-height: 20px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .autoWrapper5 {
      position: relative;
      margin-top: 43px;
      width: 383px;
      height: 842px;

      .group382 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 383px;
        height: 842px;
        overflow-y: auto;

        .group378 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 10px;
          margin-left: 10px;
          padding-top: 47px;

          .monitoramentoDefault {
            display: flex;
            position: relative;
            flex-grow: 1;
            align-items: flex-start;
            border-radius: 20px;
            box-shadow: 0px 8px 12px 6px #00000026, 5px 4px 4px 0px #ffffff;
            background: #2e2e2e;
            padding: 57px 16px 11px 31px;
            overflow: hidden;

            .image61 {
              position: absolute;
              top: 119px;
              left: 283px;
              width: 70px;
              height: 51px;
            }

            .autoWrapper3 {
              display: flex;
              position: relative;
              align-items: flex-start;
              align-self: stretch;

              .gasolina {
                margin: 25px 0px 0px;
                width: 47px;
                height: 11px;
                text-align: center;
                letter-spacing: 0;
                color: #ffffff;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 7px;
              }

              .autoWrapper {
                position: relative;
                margin-left: 20px;
                width: 169px;
                height: 123px;

                .image59 {
                  position: absolute;
                  top: -29px;
                  right: -87px;
                  width: 90px;
                  height: 47px;
                }

                .image60 {
                  position: absolute;
                  top: -29px;
                  left: -87px;
                  width: 92px;
                  height: 51px;
                }

                .image58 {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 169px;
                  height: 123px;
                }
              }

              .autoWrapper2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                margin-top: 23px;
                margin-left: 4px;

                .temperaturaDoMotor {
                  width: 77px;
                  height: 9px;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 7px;
                }

                .fluxoDeAr {
                  margin: 73px 0px 0px 29px;
                  width: 37px;
                  height: 9px;
                  text-align: center;
                  letter-spacing: 0;
                  color: #ffffff;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 7px;
                }
              }
            }
          }
        }

        .group373 {
          position: relative;
          margin-top: 54px;
          border-radius: 20px;
          width: 362px;
          height: 193px;
          background-image: url(../image/mr860a4d-8y7rr2y.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .rectangle85 {
            position: absolute;
            top: 174px;
            left: 41px;
            border-radius: 20px;
            background: #2c2b2c;
            width: 275px;
            height: 14px;
          }

          .rPmStatusVerdeNormal {
            display: flex;
            position: absolute;
            top: 167px;
            left: 20px;
            align-items: center;
            width: 322px;
            height: 15px;
            line-height: 14px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
          }
        }

        .image63 {
          margin-top: 54px;
          border-radius: 20px;
          width: 383px;
          height: 235px;
        }

        .group369 {
          position: relative;
          margin-top: 18px;
          width: 373px;
          height: 50px;

          .tensODaBateria {
            display: flex;
            position: absolute;
            top: 11px;
            left: 0;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid #ffffffe5;
            border-radius: 30px;
            background: #2d2d2d;
            padding: 12px 20px 2px;
            width: 373px;
            height: 39px;
            overflow: hidden;

            .autoWrapper4 {
              position: relative;
              width: 331px;
              height: 13px;

              .rectangle84 {
                position: absolute;
                top: 0;
                left: 0;
                width: 331px;
                height: 13px;
              }

              .vector2 {
                position: absolute;
                bottom: -3px;
                left: 78px;
                width: 3px;
                height: 13px;
              }
            }

            .a35 {
              margin: 4px 0px 0px 75px;
              line-height: 6px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 4px;
            }
          }

          .frame312 {
            display: flex;
            position: absolute;
            top: 0;
            left: 102px;
            align-items: center;
            border-radius: 5px;
            background: #2d2d2d;
            padding-right: 28px;
            padding-left: 28px;
            width: 169px;
            height: 17px;
            overflow: hidden;

            .tensODaBateria2 {
              display: flex;
              align-items: center;
              width: 113px;
              height: 17px;
              line-height: 18px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }
          }
        }

        .image65 {
          position: absolute;
          top: 473px;
          left: 315px;
          border-radius: 50px;
          width: 49px;
          height: 51px;
        }
      }

      .monitoramentoDefault2 {
        display: flex;
        position: absolute;
        top: -12px;
        left: 241px;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 8px 12px 6px #00000026, 5px 4px 4px 0px #ffffff;
        background: #2e2e2e;
        padding: 5px 9px 5px 10px;
        width: 114px;
        height: 23px;
        overflow: hidden;

        .cOnectarobd {
          line-height: 10px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 600;
        }

        .vector3 {
          width: 9px;
          height: 13px;
        }
      }

      .barraDeNavegaO {
        display: flex;
        position: absolute;
        top: 602px;
        right: -5px;
        align-items: center;
        background: #2c2c2c;
        padding-right: 20px;
        padding-left: 20px;
        width: 393px;
        height: 76px;
        overflow: hidden;

        .home2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 53px;
          height: 18px;
          line-height: 13px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }

        .home3 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          box-shadow: var(
            --M3-Elevation-Dark-5,
            0px 8px 12px 6px #00000026,
            0px 4px 4px 0px #0000004d
          );
          padding-top: 5px;
          padding-bottom: 5px;

          .home {
            flex-shrink: 0;
            width: 47px;
            height: 48px;
            overflow: hidden;
          }
        }

        .home4 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          box-shadow: var(
            --M3-Elevation-Dark-5,
            0px 8px 12px 6px #00000026,
            0px 4px 4px 0px #0000004d
          );
          padding-top: 5px;
          padding-bottom: 5px;

          .iconPeAs {
            position: relative;
            flex-shrink: 0;
            width: 47px;
            height: 48px;

            .peAs {
              display: flex;
              position: absolute;
              top: 22px;
              left: 0;
              align-items: center;
              justify-content: center;
              width: 47px;
              height: 26px;
              line-height: 13px;
              letter-spacing: 0;
              color: #000000;
              font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 9px;
              font-weight: 800;
            }

            .settings {
              position: absolute;
              top: 26px;
              left: 24px;
              width: 18px;
              height: 17px;
              overflow: hidden;
            }

            .group351 {
              position: absolute;
              top: 10px;
              left: 5px;
              width: 38px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
