* {
  box-sizing: border-box;
}

.relatRio {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 86px;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .rElatrio {
    margin: 0px 0px 0px 141px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .hIstricodecustos {
    display: flex;
    position: absolute;
    top: 334px;
    left: 23px;
    align-items: center;
    width: 144px;
    height: 17px;
    line-height: 12px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .rectangle46 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 25px 14px 0px 15px;
    border-radius: 5px;
    background: #d9d9d9;
    padding: 7px 18px 8px 12px;

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 269px;
      padding-left: 0;

      .mS {
        width: 10px;
        height: 8px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }

      .rectangle48 {
        display: flex;
        align-items: center;
        border-radius: 100px;
        background: #b7b7b7;
        padding: 2px 9px 1px;
      }

      .rectangle49 {
        display: flex;
        align-items: center;
        border-radius: 100px;
        background: #b7b7b7;
        padding: 2px 8px 1px 9px;
      }
    }

    .autoWrapper5 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 13px;
      padding-right: 3px;
      padding-left: 5px;

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .a40 {
          width: 7px;
          height: 6px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 5px;
        }

        .a30 {
          margin: 13px 0px 0px;
          width: 7px;
          height: 7px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 5px;
        }

        .a20 {
          margin: 12px 0px 0px;
          width: 7px;
          height: 8px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 5px;
        }

        .a10 {
          margin: 13px 0px 0px;
          width: 6px;
          height: 7px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 5px;
        }

        .a0 {
          margin: 14px 0px 0px;
          width: 4px;
          height: 6px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 5px;
        }
      }

      .autoWrapper4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 3px;

        .autoWrapper3 {
          position: relative;
          margin-left: 57px;
          width: 6px;
          height: 81px;

          .line1 {
            position: absolute;
            top: 2px;
            right: -246px;
            background: #000000;
            width: 309px;
            height: 1px;
          }

          .line2 {
            position: absolute;
            top: 22px;
            right: -246px;
            background: #000000;
            width: 309px;
            height: 1px;
          }

          .line3 {
            position: absolute;
            top: 42px;
            right: -246px;
            background: #000000;
            width: 309px;
            height: 1px;
          }

          .line4 {
            position: absolute;
            top: 62px;
            right: -246px;
            background: #000000;
            width: 309px;
            height: 1px;
          }

          .rectangle50 {
            display: flex;
            position: absolute;
            top: 0;
            left: -52px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 74px;
            width: 5px;
            height: 81px;

            .rectangle51 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 7px;
            }
          }

          .rectangle52 {
            display: flex;
            position: absolute;
            top: 0;
            left: -26px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 49px;
            width: 5px;
            height: 81px;

            .rectangle53 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 32px;
            }
          }

          .rectangle54 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100px;
            background: #ffcf00bf;
            width: 6px;
            height: 81px;
          }

          .rectangle56 {
            display: flex;
            position: absolute;
            top: 0;
            right: -28px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 59px;
            width: 5px;
            height: 81px;

            .rectangle57 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 22px;
            }
          }

          .rectangle58 {
            display: flex;
            position: absolute;
            top: 0;
            right: -53px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 35px;
            width: 5px;
            height: 81px;

            .rectangle59 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 46px;
            }
          }

          .rectangle60 {
            display: flex;
            position: absolute;
            top: 0;
            right: -80px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 69px;
            width: 6px;
            height: 81px;

            .rectangle61 {
              border-radius: 100px;
              background: #333333;
              width: 6px;
              height: 12px;
            }
          }

          .rectangle62 {
            display: flex;
            position: absolute;
            top: 0;
            right: -106px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 30px;
            width: 5px;
            height: 81px;

            .rectangle63 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 51px;
            }
          }

          .rectangle64 {
            display: flex;
            position: absolute;
            top: 0;
            right: -132px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 64px;
            width: 6px;
            height: 81px;

            .rectangle65 {
              border-radius: 100px;
              background: #333333;
              width: 6px;
              height: 17px;
            }
          }

          .rectangle66 {
            display: flex;
            position: absolute;
            top: 0;
            right: -158px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 73px;
            width: 5px;
            height: 81px;

            .rectangle67 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 8px;
            }
          }

          .rectangle68 {
            display: flex;
            position: absolute;
            top: 0;
            right: -185px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 13px;
            width: 5px;
            height: 81px;

            .rectangle69 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 68px;
            }
          }

          .rectangle70 {
            display: flex;
            position: absolute;
            top: 0;
            right: -238px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 34px;
            width: 5px;
            height: 81px;

            .rectangle71 {
              border-radius: 100px;
              background: #333333;
              width: 5px;
              height: 47px;
            }
          }

          .rectangle72 {
            display: flex;
            position: absolute;
            top: 0;
            right: -213px;
            align-items: flex-start;
            border-radius: 100px;
            background: #ffcf00bf;
            padding-top: 48px;
            width: 6px;
            height: 81px;

            .rectangle73 {
              border-radius: 100px;
              background: #333333;
              width: 6px;
              height: 33px;
            }
          }
        }

        .line5 {
          margin-top: 1px;
          background: #000000;
          width: 309px;
          height: 1px;
        }
      }
    }

    .autoWrapper6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 5px;
      padding-right: 0;
      padding-left: 25px;

      .jAn {
        width: 17px;
        height: 6px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }

      .fEv {
        width: 20px;
        height: 6px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }

      .mAr {
        width: 22px;
        height: 6px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }

      .aBr {
        width: 18px;
        height: 6px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }

      .aGo {
        width: 19px;
        height: 6px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }
    }

    .rectangle74 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 6px;
      margin-right: 287px;
      border-radius: 100px;
      background: #b7b7b7;
      padding: 2px 6px 1px 8px;

      .jUnho2024 {
        width: 33px;
        height: 8px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 5px;
      }
    }
  }

  .text {
    position: absolute;
    top: 312px;
    left: 29px;
    width: 0;
    height: 88px;
    line-height: 8px;
    letter-spacing: 0;
    color: #000000;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 8px;
  }

  .group389 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 46px 19px 0px 281px;
    padding-right: 1px;
    min-width: 93px;
    height: 26px;

    .group386 {
      width: 25px;
      height: 25px;
    }

    .rectangle86 {
      display: flex;
      align-items: center;
      border-radius: 50px;
      background: #d9d9d9;
      padding: 6px 5px 6px 6px;

      .edit {
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }

    .rectangle862 {
      display: flex;
      align-items: center;
      border-radius: 50px;
      background: #d9d9d9;
      padding: 5px 5px 6px;

      .trash2 {
        width: 15px;
        height: 15px;
        overflow: hidden;
      }
    }
  }

  .frame24 {
    display: flex;
    position: absolute;
    top: 26px;
    left: -1px;
    align-items: flex-start;
    background: #ffffff;
    padding-right: 13px;
    width: 395px;
    height: 62px;
    overflow: hidden;

    .pItchprojetoandreza1 {
      width: 105px;
      height: 59px;
    }

    .group336 {
      position: relative;
      margin-top: 8px;
      margin-left: 174px;
      width: 103px;
      height: 71px;

      .group334 {
        display: flex;
        position: absolute;
        top: 6px;
        left: 0;
        align-items: flex-start;
        padding-right: 69px;
        padding-bottom: 35px;
        width: 103px;
        height: 65px;

        .image28 {
          width: 34px;
          height: 30px;
        }
      }

      .image29 {
        position: absolute;
        top: 0;
        left: 61px;
        width: 42px;
        height: 43px;
      }
    }
  }

  .group384 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    z-index: 1;
    margin: 8px 14px 0px;
    padding-left: 1px;

    .r16050 {
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 20px;
      width: 72px;
      height: 21px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .gasolinaTipoComum {
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 4px;
      width: 99px;
      height: 13px;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .images6 {
      width: 41px;
      height: 41px;
    }

    .a300Lar535 {
      display: flex;
      align-items: center;
      margin: 5px 0px 0px;
      width: 86px;
      height: 9px;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .a21042025 {
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 1px;
      width: 69px;
      height: 11px;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .autoWrapper7 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-left: 16px;
    }

    .rectangle75 {
      display: flex;
      align-items: center;
      align-self: stretch;
      border-radius: 15px;
      background: #d9d9d9;
      padding: 8px 16px 7px 10px;
    }

    .rectangle76 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 25px;
      border-radius: 15px;
      background: #d9d9d9;
      padding: 8px 13px 7px;
    }

    .rectangle77 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 27px;
      border-radius: 15px;
      background: #d9d9d9;
      padding: 9px 16px 6px 13px;

      .gasolinaTipoAditivad {
        display: flex;
        align-items: center;
        margin: 13px 0px 0px 1px;
        width: 107px;
        height: 13px;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 6px;
        margin-left: 8px;
      }

      .r11172 {
        display: flex;
        align-items: center;
        margin: 9px 0px 0px 20px;
        width: 72px;
        height: 21px;
        line-height: 16px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .autoWrapper9 {
      position: relative;
      margin-top: 6px;
      width: 364px;
      height: 56px;

      .textOnAPath {
        position: absolute;
        top: 0;
        left: 0;
        width: 364px;
        height: 56px;
      }

      .rectangle80 {
        display: flex;
        position: absolute;
        bottom: -22px;
        left: -1px;
        align-items: center;
        border-radius: 15px;
        background: #d9d9d9;
        padding: 8px 15px 7px 11px;
        width: 364px;
        height: 56px;
      }
    }

    .rectangle79 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 51px;
      border-radius: 15px;
      background: #d9d9d9;
      padding: 8px 16px 7px 10px;

      .gasolinaTipoComum2 {
        display: flex;
        align-items: center;
        margin: 14px 0px 0px 4px;
        width: 99px;
        height: 13px;
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .autoWrapper10 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 5px;
        margin-left: 26px;

        .a10122024 {
          display: flex;
          align-items: center;
          width: 69px;
          height: 11px;
          line-height: 10px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }

        .a276Lar555 {
          display: flex;
          align-items: center;
          margin: 8px 0px 0px 1px;
          width: 86px;
          height: 9px;
          line-height: 10px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }
      }

      .r15000 {
        display: flex;
        align-items: center;
        margin: 10px 0px 0px 9px;
        width: 72px;
        height: 21px;
        line-height: 16px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .image66 {
    position: absolute;
    top: 661px;
    left: 336px;
    z-index: 2;
    border-radius: 50px;
    width: 49px;
    height: 51px;
  }

  .barraDeNavegaO {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background: #2c2c2c;
    padding-right: 20px;
    padding-left: 20px;
    width: 393px;
    overflow: hidden;

    .home2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 18px;
      line-height: 13px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 9px;
      font-weight: 800;
    }

    .home {
      flex-shrink: 0;
      width: 47px;
      height: 48px;
      overflow: hidden;
    }

    .home3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .home5 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Light-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      height: 76px;
      row-gap: 5px;

      .home4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 18px;
        line-height: 13px;
        letter-spacing: 0;
        color: #ffcf00bf;
        font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 800;
      }
    }

    .home6 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      box-shadow: var(
        --M3-Elevation-Dark-5,
        0px 8px 12px 6px #00000026,
        0px 4px 4px 0px #0000004d
      );
      padding-top: 5px;
      padding-bottom: 5px;

      .iconPeAs {
        position: relative;
        flex-shrink: 0;
        width: 47px;
        height: 48px;

        .peAs {
          display: flex;
          position: absolute;
          top: 22px;
          left: 0;
          align-items: center;
          justify-content: center;
          width: 47px;
          height: 26px;
          line-height: 13px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Coda Caption", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 9px;
          font-weight: 800;
        }

        .settings {
          position: absolute;
          top: 26px;
          left: 24px;
          width: 18px;
          height: 17px;
          overflow: hidden;
        }

        .group351 {
          position: absolute;
          top: 10px;
          left: 5px;
          width: 38px;
          height: 35px;
        }
      }
    }
  }
}
